.container {
  padding: 0 2rem;
}

.main {
  min-height: calc(100vh - 64px);
  padding: 4rem;
}

.details {
  max-width: 1024px;
}

.titleBg {
  background-image: url("../public/images/title-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-position-x: 0.75rem;
  width: 100%;
  z-index: 0;
}

.chips + .chips {
  margin-left: 0.5rem;
}

.markdown li {
  list-style: disc;
  margin: 0.75rem 0 0.75rem 1rem;
  font-family: "Noto Sans", sans-serif;
  text-align: justify;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  margin-top: 1.5rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  background-image: url("../public/images/title-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  width: 100%;
  z-index: 0;
}

.markdown h1 {
  font-size: 3rem;
}

.markdown h2 {
  font-size: 2rem;
}

.markdown p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 1.75rem;
}

.markdown p > code {
  background-color: lightgray;
  padding: 0rem 0.5rem;
  display: inline-block;
  border-radius: 0.25rem;
}

.markdown a {
  color: rgb(37 99 235);
}

@media (max-width: 600px) {
  .main {
    padding: 1rem;
  }
}
