.container {
  padding: 0 2rem;
}

.main {
  min-height: calc(100vh - 64px);
  padding: 4rem;
  width: 100%;
}

.titleBg {
  background-image: url("../public/images/title-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.markdown li {
  list-style: disc;
  margin: 0.75rem 0 0.75rem 1rem;
  font-family: "Lexend Deca", sans-serif;
  text-align: justify;
}

@media (max-width: 600px) {
  .main {
    padding: 1rem;
  }
}
